.sovellus-box{
    float: left;
    text-align: center;
    display: block;
    width: 33vw;
    border-right: 1px solid rgba(255,128,0,0.8);
}

.myynti-box {
    float: left;
    display: block;
    text-align: center;
    width: 33vw;
}

.pesu-box {
    float: left;
    display: block;
    border-left: 1px solid rgba(255,128,0,0.8);
    text-align: center;
    width: 33vw;
}
@media only screen and (max-width: 800px) {
    .pesu-box {
        width: 100%;
        float: none;
    }
    .sovellus-box {
        width: 100%;
        float: none;
    }
    .myynti-box {
        width: 100%;
        float: none;
    }
}