.container {
    margin-top: 5rem;
    margin-bottom: 10rem;
}
#sovelluskuva {
    width: 30%;
    float: left;
}
@media only screen and (max-width: 800px) {
    .container {
        padding-bottom: 3rem;
        padding-top: 1rem;
    }
}