.footer {
    position: fixed;
    color: #ffffff;
    background-color: #333;
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    border: solid;
    border-top-color: #ff8409;
    border-width: 5px 0 0 0;
    font-size: 0.8rem;
  }
  #made {
    float: left;
    width: 32%;
    text-align: left;
    padding-left: 0.8rem;
  }
  #some {
    float: left;
    text-align: center;
    width: 32%;
  }
  
  #contacts {
    float: right;
    width: 32%;
    text-align: right;
    padding-right: 0.8rem;
  }
  @media only screen and (max-width: 800px) {
    
    #contacts {
      float: none;
      width: 100%;
      padding: 0 0 1rem 0;
      text-align: center;
    }
    #some {
      float: none;
      width: 100%;
      padding: 0 0 1rem 0;
      text-align: center;
    }
    #made {
      float: none;
      width: 100%;
      padding: 0 0 1rem 0;
      text-align: center;
    }
}