ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    border-bottom:5px solid #ff8000;
}

li {
    width: 7rem;
    float:left;
    border-right: 1px solid #ff8000;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

li a:hover {
    background-color: #ff8000;
}
.right {
    float: right;
    color: #ff8000;
    padding: 14px 16px;
}