body {
    left: 0;
    position: relative;
    margin: 0;

    font-family: 'Noto Sans', sans-serif;
    background-color: #eaeaea;
}
@media only screen and (max-width: 800px) {
    body {
        font-size: 1rem;
    }
}